#ss-form{
  margin-top: 10%;
  color: white;
  text-transform: uppercase;
  min-height: 476px;
  label{
    font-family: 'cubanoregular';    
  }
  input[type='text']{
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);    
  }
  input[type='submit']{
    background-image: url('https://s3.amazonaws.com/myfangate.com/alexangelo/enterbtn.png');
    background-color: transparent;
    border-color: transparent;
    background-size: cover;
  }
  .agree{
    margin-bottom: 8%;
    span{
      font-family: 'PlacardMT-Condensed';      
    }
    text-align: center;
  }
  p{
    font-family: 'PlacardMT-Condensed';
    text-align: center;
    margin-bottom: 4%; 
  }
  a{
    text-decoration: none;
    color: white;
  }
}

.ss-choices{
  list-style: none !important;
  padding: 0;
}

#navigation-table{
  margin: 0 auto;
}

.again{
  font-family: 'cubanoregular';
  color: #1b5fa2;
  border: 3px solid white;
  border-radius: 8px;
  max-width: 150px;
  font-size: 1.5em;
  box-shadow: 0 0 20px rgba(81, 203, 238, 1);
  text-shadow: 0 0 20px rgba(81, 203, 238, 1);
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}