<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
onload="if(submitted) {$('#ss-form').html('<center><h1 class=\'thank-you\'>Thanks for entering!</h1><div class=\'again\'>ENTER AGAIN</div></center>');again();}"></iframe>

<form action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1EE2RzckUqaHXjCwaRjLaXrTFggTAKsLtDkY3BXLEdm4/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="return validateForm()">
  <ol role="list" class="ss-question-list" style="padding-left: 0">
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item  ss-text">
        <div class="ss-form-entry form-group">
          <label class="ss-q-item-label" for="entry_1206961149">
            <div class="ss-q-title">First Name</div>
            <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <input type="text" name="entry.1206961149" value="" class="ss-q-short form-control" id="entry_1206961149" dir="auto" aria-label="First Name  " title="">                    
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item  ss-text">
        <div class="ss-form-entry form-group">
          <label class="ss-q-item-label" for="entry_661977814">
            <div class="ss-q-title">Parent's Email Address</div>
            <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <input type="text" name="entry.661977814" value="" class="ss-q-short form-control" id="entry_661977814" dir="auto" aria-label="Parent's Email Address  " title="">                    
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item  ss-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_453150025">
            <div class="ss-q-title">What Activity Are You Involved In And Passionate About?</div>
            <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <input type="text" name="entry.453150025" value="" class="ss-q-short form-control" id="entry_453150025" dir="auto" aria-label="What Activity Are You Involved In And Passionate About?  " title="">                    
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item  ss-checkbox">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_766508407">
            <div class="ss-q-title"></div>
            <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <ul class="ss-choices" role="group" aria-label="  ">
            <li class="ss-choice-item agree"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.743651200" value="I Acknowledge That I Have Read, Understand and Agree To The Official Rules and Terms of Use" id="group_743651200_1" role="checkbox" class="ss-q-checkbox"></span>
              <span class="ss-choice-label">I Acknowledge That I Have Read, Understand and Agree To The <a class="rules-link" href="https://s3.amazonaws.com/myfangate.com/alexangelo/alexangelorules.pdf" target="_blank">Official Rules</a> and Terms of Use</span>
              </label>
            </li>
          </ul>                    
        </div>
      </div>
    </div>
    <p>NO PURCHASE NECESSARY. Void where prohibited. Many will enter, one will win. Ends 11/15/15. Open to legal residents of 50 U.S. and D.C., ages 16 and under. Some restrictions apply.</p>
    <input type="hidden" name="draftResponse" value="[,,&quot;-2873541742849054384&quot;]
      ">
    <input type="hidden" name="pageHistory" value="0">
    <input type="hidden" name="fvv" value="0">
    <input type="hidden" name="fbzx" value="-2873541742849054384">
    <div class="ss-item ss-navigate">
      <table id="navigation-table">
        <tbody>
          <tr>
            <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
              <input type="submit" name="submit" value="" id="ss-submit" class="jfk-button jfk-button-action ">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ol>
  <a class="rules-link foot-rules" href="https://s3.amazonaws.com/myfangate.com/alexangelo/alexangelorules.pdf" target="_blank"><p>Official Rules</p></a>
</form>